{% extends "base.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/category_list.css' %}">

<button class="btn-add" onclick="location.href='{% url 'expenses:category-create' %}'">Add</button>

<div class="card-main">
	<table>
		<tr>
			<th>NAME</th>
			<th>AMOUNT OF EXPENSES</th>
			<th>ACTIONS</th>
		</tr>
		{% for obj in expenses_amount %}
		<tr>
			<td>{{ obj.name }}</td>
			<td>{{ obj.amount }}</td>
			<td>
				<a href="{% url 'expenses:category-delete' obj.id %}">delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
